* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.clear-fix::after{
    clear: both;
    content: ' ';
    display: block;
}
.cotainer{
    border: 3px  solid burlywood;
}

.column{
    border: 4px solid khaki;
    float: left;
    width: 33.33%;
    background-color: lightgrey;
    padding: 50px;
}